:root{
    --ball-width:340px;
}

body{
    overflow-x: hidden;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.layout__container{
position: relative;
width: 900px;
height: 600px;
overflow: hidden;
border: 10px solid #ccc;
display: flex;
justify-content: center;
align-items: center;
}

.layout__img{
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    opacity: 0.7;
}

.layout__ball{
    z-index: 2;
    position: absolute;
    width: var(--ball-width);
    height: var(--ball-width);
    border-radius: 50%;
    border: 20px solid black;
    overflow: hidden;
}

.ball__top{
    background-color: #FE0000;
    width: var(--ball-width);
    height: calc(var(--ball-width)/2.2);
}

.ball__line{
    background-color: black;
    height: 27px;
    width: var(--ball-width);
    position: absolute;
    margin-top: -20px;
}

.ball__buttom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 15px solid black;
    border-radius: 50%;
   background-color: white;
}

.ball__buttom:hover{
    background-color: rgb(226, 99, 99);
}

.ball__bottom{
    background-color: white;
    width: 340px;
    height: calc(var(--ball-width)/2.2);
}